*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(0, 0, 151);
}

h1{
    font-size: 38px;
    font-family: sans-serif;
    color: white;
}
